<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/TCYYARSILIKAL/IdeaProjects/PasajSelenium/src/main/resources">
        <classes>
            <class name="CheckEmptyBasket"/>
            <class name="CheckProductPrice"/>
            <class name="SearchDevice"/>
        </classes>
    </test>
</suite>